@model DCW.Shared.PaginatedList<DCW.Models.AuditEvent>
@if (Model.Any())
{
    <div id="grid">
        <table class="table table-hover"
               id="tbData">
            <caption>
                @if (string.IsNullOrEmpty(Model.Query))
                {
                    @:Audit events - alarms
                }
                else
                {
                    @:Audit events - alarms <b>@Model.Query</b>
                }
            </caption>
            <thead class="table-dark">
            <tr>
                <th>Message</th>
                <th>Created</th>
                <th>From IP</th>
                <th>To IP</th>
            </tr>
            </thead>
            @foreach (var auditEvent in Model)
            {
                <tr>
                    <td>@auditEvent.Message</td>
                    <td>@auditEvent.TimeStamp.ToString("dd.MM.yyyy")</td>
                    <td>@auditEvent.SourceIp</td>
                    <td>@auditEvent.DestinationIp</td>
                </tr>
            }
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    @if (Model.PageIndex - 1 < 1)
                    {
                        <a asp-route-pageNumber="1"
                           asp-route-query="@Model.Query"
                           class="page-link">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-query="@Model.Query"
                           class="page-link">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    }
                </li>
                @for (var currentPageIndex = 1; currentPageIndex <= Model.TotalPages; currentPageIndex++)
                {
                    if (currentPageIndex < Model.PageSize)
                    {
                        <li class="page-item @(Model.PageIndex == currentPageIndex ? "active" : "")">
                            <a asp-route-pageNumber="@currentPageIndex"
                               asp-route-query="@Model.Query"
                               class="page-link">
                                @currentPageIndex
                            </a>
                        </li>
                    }
                }
                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    @if (Model.PageIndex + 1 <= Model.TotalPages)
                    {
                        if (Model.PageSize < Model.TotalPages)
                        {
                            <span class="page-link">...</span>
                        }
                    }
                </li>
                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    @if (Model.PageIndex + 1 <= Model.TotalPages)
                    {
                        if (Model.PageSize < Model.TotalPages)
                        {
                            <a asp-route-pageNumber="@Model.TotalPages"
                               asp-route-query="@Model.Query"
                               class="page-link">
                                @Model.TotalPages
                            </a>
                        }
                    }
                </li>
                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    @if (Model.PageIndex + 1 < Model.TotalPages)
                    {
                        <a asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-query="@Model.Query"
                           class="page-link">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-route-pageNumber="@(Model.TotalPages)"
                           asp-route-query="@Model.Query"
                           class="page-link">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </div>
}
else
{
    <p>No data! Check query.</p>
}